<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NavBar component</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./styles.css">

  </head>
  <body>
    <header>
      <div class="container-fluid">
        <div class="row flex-nowrap">
          <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 navbarBG">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
              <nav>
                <ul class="nav nav-pills flex-column" id="nav_accordion">
                  <li class="nav-item">
                    <a class="nav-link" href="#"> 
                      <img src="https://static.wixstatic.com/media/edd305_e0da0017bc6a4001a58db26284d2fca9~mv2.jpg/v1/crop/x_0,y_72,w_1667,h_1867/fill/w_90,h_101,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/OSLogo2020.jpg" class="img-fluid" alt="Responsive image">
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark" data-bs-toggle="collapse" data-bs-target="#menu_item1" href="#"> Submenu links <i class="bi small bi-caret-down-fill"></i> </a>
                    <ul id="menu_item1" class="submenu collapse" data-bs-parent="#nav_accordion">
                      <li><a class="nav-link" href="#">Submenu item 1 </a></li>
                        <li><a class="nav-link" href="#">Submenu item 2 </a></li>
                        <li><a class="nav-link" href="#">Submenu item 3 </a> </li>
                    </ul>
                
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_item2" href="#"> More menus <i class="bi small bi-caret-down-fill"></i> </a>
                    <ul id="menu_item2" class="submenu collapse" data-bs-parent="#nav_accordion">
                      <li><a class="nav-link" href="#">Submenu item 4 </a></li>
                        <li><a class="nav-link" href="#">Submenu item 5 </a></li>
                        <li><a class="nav-link" href="#">Submenu item 6 </a></li>
                        <li><a class="nav-link" href="#">Submenu item 6 </a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"> Another page </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"> Demo link </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"> Menu item </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"> Something </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"> Other link </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
      
      
    </body>
</html>