<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sponsors component</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./styles.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"crossorigin="anonymous"></script>

  </head>
  <body>
    <h2 class = "sponsorContainer">Our Sponsors</h2>
      <ul class="logos">
        <li class="logos__item center">
          <a href="https://www.commfound.org/">
            <img src="logos/cfb.jpg" alt="community foundation boulder county" />
          </a>
        </li>

        <li class="logos__item center">
          <a href="https://boulderarts.org/">
            <img src="logos/COBOAC-cropped-front.jpg" alt="city of boulder office of arts and culture" />
          </a>
        </li>

        <li class="logos__item center">
          <a href="https://www.createboulder.org/">
            <img src="logos/create+boulder+logo+no+background.jpg" alt="create boulder" />
          </a>
        </li>

        <li class="logos__item center">
          <a href="https://denverfoundation.org/">
            <img src="logos/dnver+fdn+newest.png" alt="the denver foundation" />
          </a>
        </li>

        <li class="logos__item center">
          <a href="https://www.bouldercoloradousa.com/">
            <img src="logos/logo-2022-modified.png" alt="boulder colorado" />
          </a>
        </li>

        <li class="logos__item center">
          <a href="https://oedit.colorado.gov/colorado-creative-industries">
            <img src="logos/logo.png" alt="colorado office of economic development and international trade" />
          </a>
        </li>

        <li class="logos__item center">
          <a href="https://scfd.org/">
            <img src="logos/scfd_logo_vert_1_opt.jpg" alt="SCFD" />
          </a>
        </li>

        <li class="logos__item center">
          <a href="https://boulderdowntown.com/">
            <img src="logos/TBXfJW-D_400x400.jpg" alt="Downtown boulder" />
          </a>
        </li>
      </ul> 
    </body>
</html>